html body {
	margin: 0;
}

.video-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.video-container video {
	z-index: -1;
	position: absolute;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.video-content {
	background-color: rgb(46, 43, 43);
	opacity: 0.3;
	color: rgba(207, 201, 201, 0.87);
	padding: 15px;
	font-size: 70px;
	margin-top: 120px;
}
